.div-search {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 15px;
  margin-right: 130px;
  margin-left: 60px;
  border-radius: 5px;
  font-size: 17px;
  border-color: #2c96d38e;
}

h1,
h3 {
    text-align: center;
    color: rgb(13, 0, 128);
}

.add {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.add .newProduct {
width: 100px;
}

.table {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1px;
    text-align: center;
    border-bottom: 1px solid black;
}

tr:hover {
  background-color: #5722d410;
}

.faCubes {
font-size: 25px;
margin: -5px 0px 0px 0px;
padding: 8px;
}

.faTrashCan {
  font-size: 18px;
  margin: 15px;
  color: red;
}

.faFilePen {
  font-size: 18px;
  margin: 15px;
  color: rgb(204, 236, 19);
}

.empty {
  font-size: 20px;
}